/* General Styling */
body {
    background-color: #00274C; /* UIUC blue */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

/* Ensure the main container grows to push footer down */
.container {
    flex-grow: 1; /* Push footer to bottom */
    padding: 20px;
}

/* Hero Section */
.hero-section {
    background-image: url("/static/images/UIUC_Court.png"); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensure it covers the entire viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Hero Section Titles */
.hero-section h1 {
    font-size: 4.5rem;
    font-weight: 700; /* Bold */
    color:#FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Subtle shadow for contrast */
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.7rem;
    font-weight: 400;
    color: hsl(0, 0%, 96%);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}


/* Footer always sticks to the bottom */
.footer {
    background-color: rgba(0, 0, 0, 0.7); /* Slight transparency */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}